/* COMMON */
* {
  box-sizing: border-box;
}

body {
  font-family: "Noto Sans KR", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.6;
  color: #333;
  background-color: #fff8e8;
  overflow-x: hidden;
}

/* 영문에만 적용할 폰트 */
.font-en {
  font-family: "Open Sans", sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

.inner {
  /* 고정 길이=고정형 */
  /* width: 1200px; */
  /* 최대값만 제한=반응형 */
  max-width: 1200px;
  margin: 0 auto;
}

img {
  /* 이미지가 인라인 요소라서 발생하는 문자 기준선(baseline) 아래의 공간을 제거하기 위해 */
  display: block;
}

/* HEADER */
header {
  background-color: #fff;
  border-bottom: 1px solid #c8c8c8;
  /* 고정된 헤더 만들기 */
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 9;
}
header > .inner {
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .logo img {
  width: 40px;
  /* 가로 너비만 지정하면 세로 높이는 비율에 맞춰 정해짐 */
}
header nav ul {
  display: flex;
}
header nav ul li {
  padding: 10px 20px;
  font-weight: 700;
}
header nav ul li a:hover {
  color: orange;
  /* text-shadow: 1px 1px 5px #333; */
}

/* VISUAL */
.visual {
  /* (중요)
    헤더가 fixed 되어 일반 배치 흐름에서 벗어남
    fixed 헤더 다음에 오는 섹션은 헤더의 높이만큼 외부 여백 추가 필요
  */
  margin-top: 60px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: calc(100% - 60px);
}
.visual video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* ABOUT */
.about {
  /* (주의) 100%는 부모의 가로 길이(<body>)가 기준이 됨 */
  /* margin-top: 100%; */
  margin-top: 100vh;
  padding-top: 200px;
}
.about .inner {
  padding-bottom: 30px;
}
.about .about__wrapper {
  display: flex;
  justify-content: space-between;
}
.about .about__wrapper .about__img {
  width: 40%;
}
.about .about__wrapper .about__img img {
  width: 100%;
  border-radius: 50%;
}
.about .about__wrapper .about__text {
  width: 45%;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.about .about__wrapper .about__text .slogan {
  font-weight: bold;
  font-size: 35px;
}

.about .about__wrapper .about__text h3 {
  font-size: 20px;
  font-weight: 600;
}

.about .about__wrapper .about__text h4 {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 16px;
}

