/* HEADER */
header {
  background-color: #21353d;
  border-bottom: 1px solid #c8c8c8;
  /* 고정된 헤더 만들기 */
  width: 100%;
  position: fixed;
  bottom: 0;
  z-index: 9;
  /* 왼쪽위치 */
  left: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header > .inner {
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/* 윈도우 아이콘 */
header .logo img {
  width: 60px;
  height: 60px;
  /* 왼쪽위치 */
  position: fixed;
  bottom: 16px;
  left: 15px;
}
header nav ul {
  display: flex;
  /* 왼쪽위치 */
  align-items: center;
  position: fixed;
  bottom: 10px;
  left: 80px;
}
/* 폴더 아이콘 */
header nav ul li img {
  width: 55px;
  height: 55px;
  margin: -15px;
}
header nav ul li {
  padding: 10px 20px;
  font-weight: 700;
  /* 왼쪽위치 */
  margin-right: 20px;
}

header nav ul li a:hover {
  color: orange;
}

/* 툴팁 스타일 */
.tooltip {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

/* 툴팁 텍스트 스타일 */
.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: blueviolet;
  color: blue;
  text-align: center;
  border-radius: 5px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 0.3s;
}

/* 호버시 */
.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}